body{
    background-color: rgb(148, 161, 161);
    margin: 0;
}
.container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: aliceblue;
}
